html,
body{
    height: 100%;
}
body{
    height: 100%;
}
form{
    display: flex ;
}
.icon :hover{
    transition: .5s;
    color:	#bec7be;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 0 auto;
}
.footer{
    height: 56px;
}
.search{
    margin-right: 10px;
}
.logo-img{
    height:40px;
    width: auto;
}